body{
    background: url("h2.jpg");
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-position: 0px 70px ;
    background-size:100% 780px ;
    margin: 0% 0%; 
}
.topnav {
    background-color: #002D62;
    overflow: hidden;
    color: #FFFFFF;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    margin-top: 10px;
    margin-right: 5px;
    text-decoration: none;
    font-size: 23px;
  }
  
  .topnav a:hover {
  
    font-size:xx-large;
    border-radius: 70%;
    transition:1s;
    color: #FFFFFF;
  }
  

  .logo
  {
   margin-top: 10px;
   margin-left: 10px;
  
  }
.li
{
    
    float: right;
    color: #FFFFFF;
}
.li a {
    position: relative;
    text-decoration: none;
    padding: 15px;
    color: #FFFFFF;
}
.pageone{
    /* Welcome To Pharos University in Alexandria */

position: absolute;
width: auto;
height: 82px;
left: 72px;
top: 338px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 37px;
line-height: 45px;
text-align: left;
color: #FFFFFF;


}
.pageonne
{
    position: absolute;
    width: auto;
    height: 82px;
    left: 72px;
    top: 380px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 45px;
    text-align: left;
    color: #FFFFFF;
}
.button{
    /* How To Apply To PUA */
position: absolute;
width: 584.27px;
height: 65px;
left: 435.73px;
top: 850px;
text-align: center;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 53px;
line-height: 64px;
color: #FFFFFF;
background-color: #002D62;
}
.pagelist{
    /* Colleges financial & administrative Engineering legal studies & international relation Arts & design Tourism & Hotel management Mass communication Language & translation Physical therapy Pharmacy Applied health sciences Technology College of Dentistry Computer science & Artificial intelligence */

position: absolute;
width: auto;
height: 698px;
left: 68px;
top: 1000px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 39px;
line-height: 47px;

color: #000000;
}
.img
{
position: absolute;
width: 100%;
height: 600px;
left: 0px;
top: 1800px;

}
.lm{
    /* Learn More */
    text-align: center;
    position: absolute;
    width: 400px;
    height: 60px;
    left: 900px;
    top: 2400px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 52px;

    color: #FFFFFF;
    background-color: #002D62;
}
#sturev{
    /* Student Review */

position: absolute;
width: 317px;
height: 56px;
left: 43px;
top: 2573px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 37px;
line-height: 45px;

color: #000000;
}
#best{
    position: absolute;
width:auto;
height: 320px;
left: 0px;
top: 2620px;
text-align: center;
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 37px;

line-height: 45px;
outline-color: #000000;
background-color: #434343;
color: #FFFFFF;
}
#rectanglet{
    /* Group 2 */

position: absolute;
width: 100%;
height: 300px;
left: 0px;
top: 2982px;


background: #002D62;
border-radius: 3px;

}
#faceimg{
    /* image 2 */

position: absolute;
left: 1136px;
top: 3157px;
}
#instimg
{
    /* image 3 */

position: absolute;

left: 1210px;
top: 3157px;
}
#gmailimg
{

position: absolute;
left: 1284px;
top: 3157px;
}
#follow
{
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 400;
    font-size: 40px;
    left: 1165px;
    top: 3032px;
    color: #FFFFFF;
}
#haq{
    /* Have a question ? */

position: absolute;
max-width: 300px;
height: 38px;
left: 545px;
top: 2982px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #FFFFFF;


}
#list2{
    text-align: center;
}
#listtwo{
   /* Group 6 */
list-style-type: none;
position: absolute;
font-size: 35px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
max-width: 1000px;
height: 63px;
left: 0px;
top: 3157px;
text-decoration: none;
}
